# Build output
bin/
obj/
out/
dist/

# .NET artifacts
*.user
*.suo
*.vs/
.vs/
*.nupkg
*.snupkg

# Logs
*.log
cover.out

# Kubernetes
*.kubeconfig
Dockerfile.cross

# Editor
.idea/
.vscode/
*.swp
*.swo
*~
